---

---
<header>
    <div class="menu_content">
        <div class="logo">
            <a href="#"><img src="logo.png"></a>
        </div>
        <div class="menu">
            <i class="fa-solid fa-bars" id="btn_menu"></i>
            <div id="menu_before"></div>
            <nav id="nav">
                <ul>
                    <li><a href="#introduccion" id="select">Introducción</a></li>
                    <li><a href="#video">Videos Explicativos</a></li>
                    <li><a href="#exercises">Ejercicios</a></li>
                    <li><a href="#calculator">Calculadora</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    header {
        width: 100%;
        height: 70px;
        margin-top: 0px;
        position: relative;
        z-index: 1;
        background-color: #fff;
        border-top: 5px solid var(--naranja);
        box-shadow: 0 6px 6px -6px var(--box-shadow);
    }

    .menu_content {
        max-width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 150px;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu ul {
        display: flex;
    }

    .menu ul li {
        list-style: none;
        margin-left: 36px;
    }

    .menu ul li a {
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
        color: var(--azul);
        text-transform: uppercase;
        transition: 300ms;
    }

    .menu ul li a:hover {
        background-color: var(--naranja);
        border-radius: 3px;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
    }

    #select {
        background-color: var(--azul);
        border-radius: 3px;
        color: white;
    }

    .menu nav img {
        display: none;
    }

    .menu #btn_menu {
        display: none;
    }

    .footer {
        background-color: var(--azul-fuerte);
        color: #fff;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footer p {
        margin: 0;
    }

    @media screen and (max-width:1200px) {
        header{
            padding: 40px;
        }
    }

    @media screen and (max-width:999px) {
        .menu nav {
            position: fixed;
            top: 0;
            right: -250px;
            background-color: #fff;
            width: 230px;
            height: 100vh;
            padding: 40px;
            z-index: 1;
            transition: all 300ms;
        }

        .menu ul {
            flex-direction: column;
            margin-top: -30px;
        }

        .menu ul li {
            margin-top: 30px;
            margin-left: 0;
        }

        .menu ul li a {
            color: var(--azul);
            font-size: 12px;
        }

        .menu ul li a:hover {
            font-size: 12px;
        }

        .menu nav img {
            display: block;
            width: 100px;
        }

        #menu_before {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0,0,0,0.5);
            display: none;
        }

        .menu #btn_menu {
            display: flex;
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50px;
            font-size: 24px;
            color: black;
            cursor: pointer;
            transition: all 300ms;
        }

        .menu #btn_menu:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        .footer {
            font-size: 10px;
        }
    }
</style>

<script>
	document.getElementById("btn_menu").addEventListener("click", mostrar_menu);
	document.getElementById("menu_before").addEventListener("click", ocultar_menu);
	document.querySelectorAll("#nav ul li a").forEach(item => {
		item.addEventListener("click", function() {
        document.querySelectorAll("#nav ul li a").forEach(link => {
            link.removeAttribute("id");
        });
        this.setAttribute("id", "select");
        ocultar_menu();
    });
	});

	var nav = document.getElementById("nav");
	var background_menu = document.getElementById("menu_before");

	function mostrar_menu() {
		nav.style.right = "0px";
		background_menu.style.display = "block";
	}

	function ocultar_menu() {
		nav.style.right = "-250px";
		background_menu.style.display = "none";
	}

</script>